<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Employee Management System</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body style="background:#f4f6f9;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container">

        <a class="navbar-brand fw-bold" href="/">
            <i class="bi bi-people-fill"></i>
            Employee Management System
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
    <a class="nav-link text-danger" href="{% url 'logout' %}">
    <i class="bi bi-box-arrow-right"></i>
    Logout
    </a>
        <i class="bi bi-box-arrow-right"></i>
        Logout
    </a>
</li>

                <li class="nav-item">
                    <a class="nav-link active" href="/">
                        <i class="bi bi-house-fill"></i>
                        Dashboard
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/add/">
                        <i class="bi bi-person-plus-fill"></i>
                        Add Employee
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'export_excel' %}">
                        <i class="bi bi-file-earmark-excel-fill"></i>
                        Excel
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'export_pdf' %}">
                        <i class="bi bi-file-earmark-pdf-fill"></i>
                        PDF
                    </a>
                </li>

            </ul>

        </div>

    </div>
</nav>

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">

            <h2>Employee Management System</h2>

        </div>

        <div class="card-body">

            <h3>Welcome Vaishnavi ❤️</h3>

            <p>This is my first Django Project.</p>

            <a href="/add/" class="btn btn-success">
               Add Employee
            </a> 
            <a href="{% url 'export_excel' %}" class="btn btn-success">
               📊 Export Excel
            </a>
            <a href="{% url 'export_pdf' %}" class="btn btn-danger">
               📄 Export PDF
            </a>

            <div class="row mt-4 mb-4">

    <div class="col-md-6">
        <div class="card bg-primary text-white">
            <div class="card-body text-center">
                <h5>Total Employees</h5>
                <h2>{{ total_employees }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card bg-success text-white">
            <div class="card-body text-center">
                <h5>CS Department</h5>
                <h2>{{ cs_count }}</h2>
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-3">
        <div class="card bg-warning text-white">
            <div class="card-body text-center">
                <h5>IT Department</h5>
                <h2>{{ it_count }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-6 mt-3">
        <div class="card bg-danger text-white">
            <div class="card-body text-center">
                <h5>HR Department</h5>
                <h2>{{ hr_count }}</h2>
            </div>
        </div>
    </div>
</div>


<form method="GET" action="/">
    <div class="input-group mt-3 mb-3">
        <input
            type="text"
            name="search"
            class="form-control"
            placeholder="Search by Employee Name"
            value="{{ search }}"
        >
        <button class="btn btn-primary" type="submit">
            Search
        </button>
    </div>
</form>
<hr>

<h3>Employee List</h3>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Photo</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.id }}</td>
            <td>
             {% if employee.photo %}
            <img src="{{ employee.photo.url }}" width="60" height="60" style="border-radius:50%;">
             {% else %}
                No Photo
             {% endif %}
            </td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.department }}</td>
            <td>
                <a href="/edit/{{ employee.id }}/" class="btn btn-warning btn-sm">Edit</a>
                <a href="/delete/{{ employee.id }}/"class="btn btn-danger btn-sm"
                         onclick="return confirm('Are you sure you want to delete this employee?')">
                     Delete
                </a>
            </td>  
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No Employees Found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav class="mt-3">
    <ul class="pagination justify-content-center">

        {% if employees.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">First</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="?page={{ employees.previous_page_number }}">Previous</a>
        </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">
                {{ employees.number }}
            </span>
        </li>

        {% if employees.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ employees.next_page_number }}">Next</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="?page={{ employees.paginator.num_pages }}">Last</a>
        </li>
        {% endif %}

    </ul>
</nav>
        </div>

    </div>

</div>

</body>
</html>